--trusted-host=www.paddlepaddle.org.cn
--trusted-host=pypi.org
--trusted-host=files.pythonhosted.org
--find-links=https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
--find-links=https://pypi.python.org/simple/
-e git+https://github.com/TencentARC/GFPGAN.git@v1.3.8#egg=gfpgan
-e git+https://github.com/jantic/DeOldify.git@726fcc0776c828a00558e3a73a32ca202b66a593#egg=DeOldify
-e git+https://github.com/xinntao/Real-ESRGAN.git@9ff1944d06e9d7fe86c68bbf1a244cff403f064e#egg=realesrgan
paddlepaddle
Babel
Bottleneck
GitPython
Jinja2
Markdown
MarkupSafe
Paste
PasteDeploy
Pillow
PyWavelets
PyYAML
Pygments
Send2Trash
WebOb
Werkzeug
ZConfig
absl-py
addict
anyio
argon2-cffi-bindings
argon2-cffi
asttokens
attrs
backcall
basicsr
beautifulsoup4
bleach
blis
bobo
build
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cycler
cymem
debugpy
decorator
defusedxml
docker-pycreds
easydict
entrypoints
executing
facexlib
fastai
fastjsonschema
fastprogress
ffmpeg-python
filterpy
fonttools
future
gitdb
google-auth-oauthlib
google-auth
grpcio
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython-genutils
ipython
jedi
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-server
jupyterlab
kiwisolver
langcodes
llvmlite
lmdb
lxml
matplotlib-inline
matplotlib
mistune
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook-shim
numba
numexpr
numpy
nvidia-ml-py3
oauthlib
opencv-python
packaging
pandas
pandocfilters
pathtools
pathy
pep517
pexpect
pickleshare
pkgutil_resolve_name
preshed
prometheus-client
promise
prompt-toolkit
protobuf<=3.19.6
psutil
ptyprocess
pure-eval
pyasn1-modules
pyasn1
pycparser
pydantic
pyparsing
pyrsistent
pytest
pytest-mock
python-dateutil
pytz
pyzmq
requests-oauthlib
requests
rsa
scikit-image
scipy
sentry-sdk
setproctitle
shortuuid
six
smart-open
smmap
sniffio
soupsieve
spacy-legacy
spacy-loggers
spacy
srsly
stack-data
tb-nightly
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
terminado
thinc
tifffile
tinycss2
tomli
torch
torchvision
tornado
tqdm
traitlets
typer
typing_extensions
urllib3
waitress
wasabi
wcwidth
webencodings
websocket-client
yapf
youtube-dl
zc.buildout
zc.recipe.deployment
zc.recipe.egg
zc.wsgirunner
zc.zdaemonrecipe
zipp

